* { box-sizing: border-box; }
.top{ 
  background-color: green;
  padding:0px 0px 20px 5px;
} 
.top h1{
  padding-left: 40px;
  padding-top: 10px;
}
.nav li{
  display:inline-block;
}
.content{ 
  background-color: blue;
}
.sidebar{
  vertical-align: top
  width:20%;
  height:500px;
  background-color: purple;
  display:inline-block;
}
.sidebar h4{
  text-align:center;
}
.main-content{
  vertical-align: top
  display:inline-block;
  text-align:center;
  width:80%;
  height:500px;
  background-color: yellow;
}
footer{ 
  text-align:center;
  background-color: red;
} 

